@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*  ----------------------- css header -----------------------  */
header {
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo img {
  width: 250px;
}

.nav {
  list-style: none;
  padding: 10px;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav li img {
  width: 30px;
  margin-left: 5px;
  position: relative;
  bottom: 5px;
}

.nav li:last-child {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 400px;
  color: #000;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/*  ----------------------- css footer -----------------------  */
 
.footerFooter{
  width: 100%;
  background: #4A494A;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
 
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
 
.social-icon__item,
.menu__item {
  list-style: none;
}
 
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
 
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
 
.menu__link:hover {
  opacity: 1;
}
 
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/*  ----------------------- css modal login ----------------------- */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #425CAA;
  width: 60%;
}

.modal h1 {
  position: fixed;
  top: 90px;
  right: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 2em;
}

.modal-content input {
  width: 400px;
  color: #425CAA;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: content-box;
}

.modal-BTN {
  display: flex;
  direction: row;
  margin: 5px;
  padding: 5px;
  width:auto
}

.modal {
  width: 100vw;
  margin: auto;
  border: #000 solid 1px;
  background-color: #425CAA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 80px;
}

.img-content {
  display: flex;
  align-items: center;
  /* height:50%; */
  width: 70vw;
  ;
  background-color: white;
}

.image-login {
  margin: 20px;
}

.image-login img {
  width: 350px;
  padding: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 200px;
  width: 225px;
}

.modal-login-BTN {
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.modal-ERROR button{
  background-color:#425CAA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: auto;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.modal-ERROR button{
  background-color:#425CAA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: auto;
}

/*  ----------------------- css modal details ----------------------- */
.modal-detail {
  position: fixed;
  top: 80px;
  /* left: 5%; */
  width: 100%;
  margin: auto;
  border: #000 solid 1px;
  background-color: #425CAA;
  height: 90vh;
}
 
.modal-detail h1 {
  display: inline-block;
  position: relative;
  background: #425CAA;
  width: 4%;
  color: white;
  text-align: center;
  margin-left: 96%;
  font-size: 1.7em;
  cursor: default;
}
 
.modal-detail h1:hover {
  background-color: red;
}
 
.detail {
  position: relative;
  top: 12%;
  margin: auto;
  width: 80%;
  height: 400px;
  background-image: linear-gradient(to right, rgba(63, 56, 56, 0), rgb(33, 31, 31));
  background-repeat: repeat;
  background-size: cover;
  /* font-size: 0; */
}
 
.container-img-detail {
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 100%;
}
 
.img-detail {
  position: relative;
  left: 50px;
  top: -50px;
  width: 260px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 260px 500px;
}
 
.container-details {
  position: absolute;
  display: inline-block;
  width: 70%;
  height: 100%;
  right: 0px;
  color: white;
  text-align: center;
  margin: auto;
}
 
.container-details h2, .container-details ul, .container-details p {
  margin: 20px 0 20px 0;
}
 
.container-details ul li:last-child {
  display: none;
}
 
.container-details ul li {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 20px 0 20px;
  background-color: #333;
}
 
.container-details p:first-of-type {
  position: relative;
  margin: auto;
  width: 60%;
}
 
.modal-detail-BTN button, .modal-BTN button  {
  background-color: #425CAA;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 15px 20px 15px 20px;
  width: 110px;
  height: 30px;
  border-radius: 15px;
}


/*    Css page liste de films      */
.listefilms img{
  height: 100px;
  margin-left: 50px;
}

.listefilms, .listefilmdiv {
  background-color: black;
  color: white;
  font-size: 22px;
}

.listefilms li {
  margin: 20px;
  border: 3px #007 solid;
  border-radius: 20px;
  width: calc(100% - 46px);
  text-align: center;
  padding: 10px;
  background-color: #425CAA;
  display: flex;
}

.listefilms div {
  display: inline-block;
}

.listefilmdiv select {
  background-color: #425CAA;
  border: 2px #007 solid;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 15%;
  text-align: center;
  font-size: 16px;
}

.listefilms li div {
  width: 400px;
}

.listefilms li div+div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouttonfiltre {
  margin: 10px;
  padding: 5px;
  border: 2px #007 solid;
  border-radius: 30px;
  width: 12%;
  background-color: #425CAA;
  font-size: 16px;
}

.bouttonfiltre:last-of-type {
  border-radius: 20px;
}

.bouttonfiltre:hover, .listefilms li:hover {
  transition: 0.5s;
  background-color: white;
  color: #425CAA;
}

.listefilmdiv select:hover {
  background-color: white;
  color: #425CAA;
}

.listefilms {
  overflow-y: scroll;
  height: 400px;
}


.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/*mon compte*/
.barreLaterale {
  height: 95%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #f8f5f5;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 60px;
  padding: 0;
  padding-bottom: 30px;
  transition: all 0.5s ease;
 
 
}
 
 
.barreLaterale div {
  transition: transform 0.5s ease;
}
 
.barreLaterale.open div {
  transform: translateX(0);
}
 
.barreLaterale a:hover {
  color: #f1f1f1;
}
 
#main {
  transition: margin-left .5s;
  padding: 20px;
}
 
#bouton_OuvrirLaBarre {
  position: absolute;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
  border: none;
  padding: 30px;
  background-image: url(https://cdn-icons-png.flaticon.com/128/747/747545.png);
  background-size: cover;
  transition: ease-in-out 0.2s;
  transform: scale(1);
 
}
 
#bouton_OuvrirLaBarre:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.3);
 
}
 
 
#Utilisateur {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}
 
#filmsLoués img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  transition: filter 0.3s;
}
 
#filmsLoués img:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.05);
}
 
#filmLoués {
  padding-bottom: 30px;
}
 
.image-container {
  position: relative;
  display: inline-block;
 
}
 
 
.bouton_supprimer {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(247, 244, 244);
  color: #070707;
  transition: opacity 0.3s;
  transition: background-color 0.3s, color 0.3s;
 
 
}
 
 
.bouton_supprimer:hover {
  background-color: red;
  color: #f1f1f1;
}
 
.image-container:hover .bouton_supprimer {
  display: block;
  opacity: 1;
 
}
 
.monCompte {
  height: 0;
}
 
.image-container:hover img {
  filter: brightness(70%);
 
 
  /* Assombrit l'image au survol */
}
 
#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, color 0.3s;
  z-index: 2;
}